In [ ]:

# Import libraries
import pandas as pd

In [12]:

# Load the dataset
file_path = "Resources/crypto_data.csv"
crypto_df = pd.read_csv(file_path)
crypto_df.head()

,Unnamed: 0,CoinName,Algorithm,IsTrading,ProofType,TotalCoinsMined,TotalCoinSupply
0,42,42 Coin,Scrypt,True,PoW/PoS,4.199995e+01,42
1,365,365Coin,X11,True,PoW/PoS,NaN,2300000000
2,404,404Coin,Scrypt,True,PoW/PoS,1.055185e+09,532000000
3,611,SixEleven,SHA-256,True,PoW,NaN,611000
4,808,808,SHA-256,True,PoW/PoS,0.000000e+00,0

In [13]:
crypto_df.shape

(1252, 7)

In [14]:
# Columns 
crypto_df.columns

Index(['Unnamed: 0', 'CoinName', 'Algorithm', 'IsTrading', 'ProofType',
       'TotalCoinsMined', 'TotalCoinSupply'],
      dtype='object')

In [15]:
#dataframe data types Types
crypto_df.dtypes

Unnamed: 0          object
CoinName            object
Algorithm           object
IsTrading             bool
ProofType           object
TotalCoinsMined    float64
TotalCoinSupply     object
dtype: object

In [16]:
#null values locator
for column in crypto_df.columns:
    print(f"Column {column} has {crypto_df[column].isnull().sum()} null values")

Column Unnamed: 0 has 0 null values
Column CoinName has 0 null values
Column Algorithm has 0 null values
Column IsTrading has 0 null values
Column ProofType has 0 null values
Column TotalCoinsMined has 508 null values
Column TotalCoinSupply has 0 null values

In [17]:
#null rows drop
crypto_df = crypto_df.dropna()
crypto_df.shape

(744, 7)

In [18]:
#duplicate entries Find
print(f"Duplicate entries: {crypto_df.duplicated().sum()}")

Duplicate entries: 0

In [19]:
# Transform String column
def change_string(IsTrading):
    if IsTrading == "False":
        return 0
    else:
        return 1
    
crypto_df["IsTrading"] = crypto_df["IsTrading"].apply(change_string)
crypto_df.shape

(744, 7)

In [20]:
crypto_df = crypto_df[-(crypto_df == 0).any(axis=1)]
crypto_df.shape

(578, 7)

In [21]:
# Remove the column
crypto_df.drop(columns=["IsTrading"], inplace=True)
crypto_df.head()

  Unnamed: 0   CoinName Algorithm ProofType  TotalCoinsMined TotalCoinSupply
0         42    42 Coin    Scrypt   PoW/PoS     4.199995e+01              42
2        404    404Coin    Scrypt   PoW/PoS     1.055185e+09       532000000
5       1337  EliteCoin       X13   PoW/PoS     2.927942e+10     3.14159E+11
7        BTC    Bitcoin   SHA-256       PoW     1.792718e+07        21000000
8        ETH   Ethereum    Ethash       PoW     1.076842e+08               0

In [22]:
crypto_df.shape

(578, 6)

In [23]:
pd.options.display.float_format = '{:,.0f}'.format

In [24]:
crypto_df = crypto_df[crypto_df.TotalCoinsMined > 0]

In [25]:
crypto_df.shape

(577, 6)

In [26]:
coins_name = crypto_df.set_index(["Unnamed: 0"])
coins_name

,CoinName,Algorithm,ProofType,TotalCoinsMined,TotalCoinSupply
Unnamed: 0,,,,,
42,42 Coin,Scrypt,PoW/PoS,42,42
404,404Coin,Scrypt,PoW/PoS,"1,055,184,902",532000000
1337,EliteCoin,X13,PoW/PoS,"29,279,424,623",3.14159E+11
BTC,Bitcoin,SHA-256,PoW,"17,927,175",21000000
ETH,Ethereum,Ethash,PoW,"107,684,223",0
...,...,...,...,...,...
GAP,Gapcoin,Scrypt,PoW/PoS,"14,931,046",250000000
BDX,Beldex,CryptoNight,PoW,"980,222,595",1400222610
ZEN,Horizen,Equihash,PoW,"7,296,538",21000000
XBC,BitcoinPlus,Scrypt,PoS,"128,327",1000000
DVTC,DivotyCoin,Scrypt,PoW/PoS,"21,491,213",100000000

In [27]:
# Remove the column
coins_name.drop(columns=["CoinName"], inplace=True)
coins_name

              Algorithm ProofType  TotalCoinsMined TotalCoinSupply
Unnamed: 0
42               Scrypt   PoW/PoS               42              42
404              Scrypt   PoW/PoS    1,055,184,902       532000000
1337                X13   PoW/PoS   29,279,424,623     3.14159E+11
BTC             SHA-256       PoW       17,927,175        21000000
ETH              Ethash       PoW      107,684,223               0
...                 ...       ...              ...             ...
GAP              Scrypt   PoW/PoS       14,931,046       250000000
BDX         CryptoNight       PoW      980,222,595      1400222610
ZEN            Equihash       PoW        7,296,538        21000000
XBC              Scrypt       PoS          128,327         1000000
DVTC             Scrypt   PoW/PoS       21,491,213       100000000

[577 rows x 4 columns]

In [28]:
coins_name['TotalCoinSupply'] = coins_name['TotalCoinSupply'].apply(float)

In [29]:
# Transform String column
def change_string(ProofType):
    if ProofType == "PoW/PoS":
        return 0
    if ProofType == "Pos":
        return 1
    else:
        return 2
    
coins_name["ProofType"] = coins_name["ProofType"].apply(change_string)
coins_name.head()

           Algorithm  ProofType  TotalCoinsMined  TotalCoinSupply
Unnamed: 0
42            Scrypt          0               42               42
404           Scrypt          0    1,055,184,902      532,000,000
1337             X13          0   29,279,424,623  314,159,000,000
BTC          SHA-256          2       17,927,175       21,000,000
ETH           Ethash          2      107,684,223                0

In [31]:
# Saving cleaned data
file_path = "Resources/coins_name.csv"
coins_name.to_csv(file_path, index=False)

In [32]:
X = coins_name[['Algorithm', 'ProofType', 'TotalCoinsMined', 'TotalCoinSupply']].copy()
X = pd.get_dummies(X, columns=['Algorithm'], drop_first=True)
X = X.dropna()
X.head()

,ProofType,TotalCoinsMined,TotalCoinSupply,Algorithm_536,Algorithm_Argon2d,Algorithm_BLAKE256,Algorithm_Blake,Algorithm_Blake2S,Algorithm_Blake2b,Algorithm_C11,...,Algorithm_Tribus,Algorithm_VBFT,Algorithm_VeChainThor Authority,Algorithm_X11,Algorithm_X11GOST,Algorithm_X13,Algorithm_X14,Algorithm_X15,Algorithm_X16R,Algorithm_XEVAN
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
42,0,42,42,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404,0,"1,055,184,902","532,000,000",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1337,0,"29,279,424,623","314,159,000,000",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
BTC,2,"17,927,175","21,000,000",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ETH,2,"107,684,223",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:

X.shape

(577, 75)

In [35]:
# Saving cleaned data
file_path = "Resources/X.csv"
X.to_csv(file_path, index=False)

In [36]:
from sklearn.preprocessing import MinMaxScaler
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.00000000e+00, 0.00000000e+00, 4.20000000e-11, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.06585514e-03, 5.32000000e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 2.95755050e-02, 3.14159000e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.00000000e+00, 7.37027937e-06, 2.10000000e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.29582244e-07, 1.00000000e-06, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 2.17084952e-05, 1.00000000e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])